* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  height: 100vh;
  background-color: #f8f8f9;
  overflow: hidden;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.el-dropdown-menu__item {
  white-space: nowrap;
}

.el-overlay-dialog{
  .el-dialog__header {
    border-bottom: 1px solid #dee2e6;
    margin-right: 0;
  }
  .el-dialog__body {
    padding: 30px 20px;
  }
  .el-dialog__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #dee2e6;
    padding: 15px;
  }
}