.slider-container {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  .graph-wrapper {
    position: absolute;
    width: 100%;
    height: 150px;
    left: 1px;
    border-radius: 8px;
    transition: top 0.3s ease-in-out;
    .full-img {
      height: 150px;
    }
    .partial-img {
      position: absolute;
      height: 150px;
      top: 0;
      left: 0;
    }
    &.hide {
      top: -150px;
      opacity: 0;
    }
    &.show {
      top: -158px;
      opacity: 1;
    }
    .icon-wrap {
      position: absolute;
      top: 0px;
      right: 0px;
      background: rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon {
        display: flex;
        justify-self: center;
        align-items: center;
        cursor: pointer;
        font-size: 20px;
        padding: 5px;
        &:last-child {
          padding: 5px 5px 5px 0;
        }
      }
    }
  }
  .btn-wrapper {
    position: relative;
    margin-left: 2px;
    .slider {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0px;
      top: 0;
      width: 34px;
      height: 32px;
      border: solid 1px #dcdfe6;
      box-shadow: 0 0 3px 0 #dcdfe6;
      background-color: #fff;
      cursor: move;
      .arrow {
        width: 14px;
        height: 12px;
        background-image: url('@assets/img/slider.png');
        background-position: 0 -25px;
      }
      &.is-move {
        border: solid 1px #409eff;
        box-shadow: 0 0 3px 0 #409eff;
        background-color: #409eff;
        &.success {
          border: solid 1px #52ccba;
          box-shadow: 0 0 3px 0 #52ccba;
          background-color: #52ccba;
          .arrow {
            background-position: 0 0;
          }
        }
        &.fail {
          border: solid 1px #f57a7a;
          box-shadow: 0 0 3px 0 #f57a7a;
          background-color: #f57a7a;
          .arrow {
            background-position: 0 -82px;
          }
        }
        .arrow {
          background-position: 0 -12px;
        }
      }
      z-index: 12;
    }
    .mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 0px;
      height: 32px;
      border: solid 1px #1991fa;
      background-color: #d1e9fe;
      &.success {
        border: solid 1px #52ccba;
        background-color: #d2f4ef;
      }
      &.fail {
        border: solid 1px #f57a7a;
        background-color: #fce1e1;
      }
    }
    .track {
      border: solid 1px #dcdfe6;
      color: #45494c;
      text-align: center;
      user-select: none;
      height: 32px;
      background-color: rgba(220, 220, 220, 0.1);
    }
  }
}
@keyframes rise {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
