.elm-loading-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  background-color: rgba(206, 208, 213, 0.9);
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.3s;
  .circular {
    width: 40px;
    height: 40px;
    animation: rotate 2s linear infinite;
    color: rgb(48, 144, 72);
    .path {
      stroke-dasharray: 5, 200;
      stroke-dashoffset: 0;
      stroke: currentColor;
      animation: dash 1.5s ease-in-out infinite;
    }
  }
  .loading-text {
    color: rgba(48, 144, 72, 0.8);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
